<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <div class="container-forms">
        <div class="signup-login-container">
             <div class="login">
                 <form class="login-form" method="POST" action="/user/login">
                    <input class="login-input" type="email" name="email" placeholder="Email..." />
                    <input class="login-input" type="password" name="password" placeholder="Password..." /> 
                    <button class="login-button">Login</button>
                </form>
            </div>

            <div class="signup">
                <form class="signup-form" method="POST" action="/user/signup-login">
                    <input class="signup-input" type="text" name="firstName" placeholder="First Name" required />
                    <input class="signup-input" type="text" name="lastName" placeholder="Last Name" required />
                    <input class="signup-input" type="email" name="email" placeholder="Email..." />
                    <input class="signup-input" type="password" name="password" placeholder="Password..." /> 
                    <input class="signup-input" type="password" name="confirmPassword" placeholder="Confirm Password" /> 
                    <button class="signup-button">Signup</button>
                </form>
                <h5 class="form-result"><%= result%></h5>
                <% if(err) { %>
                    <h2 class="form-error"><%= err %></h2>
                <% } %>
            </div>
        </div>
    </div>   
</body>
</html>